@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'san-serif';
  padding: 20px 60px;
}

/* Custom Button Styling */

.btn {
  width: auto;
  height: 40px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: 3px solid transparent;
  text-transform: uppercase;
}

.btn:focus { 
  outline: none; 
}

.btn-light {
  background-color: #eeeeee;
  color: #000;
  border: 3px solid #eeeeee;
}

.btn-light:hover {
  background-color: #dadada;
  color: #000;
  border: 3px solid #dadada;
}

.btn-blue {
  background-color: #1563d6;
  color: #fff;
  border: 3px solid #1563d6;
  margin-left: 20px;
}

.btn-blue:hover {
  background-color: #6ca4f8;
  color: #fff;
  border: 3px solid #6ca4f8;
}

.btn-dark {
  background-color: #000;
  color: #fff;
  border: 3px solid #000;
}

.btn-dark:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}